
.popover {
	list-style-type: none;
	display: none;
	background-color: #FAFAFA;
	width: 100%;

	margin-left: -1px;
	margin-top: 8px;
	padding: 25px 0px;

	border: 1px solid #DDDDDD;
	border-radius: 4px;
}

.locations:hover .popover {
	display: inline-block;
}

.filter .amenities:hover .popover {
	display: inline-block;
}

ul {
	list-style-type: none;
	padding: 0px;
	padding-bottom: 20px;
}

li {
}	

h2 {
	font-size: 16px;
	padding-left: 30px;
	margin: 0px;
}

